<section>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="box">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="container">
      <div class="form">
        <h2>Registro</h2>
        <form
          id="registerForm"
          [formGroup]="formRegister"
          (ngSubmit)="register()"
        >
          <div class="inputBox">
            <input
              formControlName="name"
              type="text"
              placeholder="Nombre"
              id="name"
              name="name"
            />
            <div
              *ngIf="
                formRegister.get('name')?.hasError('required') &&
                formRegister.get('name')?.touched
              "
              class="error-message"
            >
              El campo Nombre es <strong>requerido</strong>
            </div>
          </div>
          <div class="inputBox">
            <input
              formControlName="lastname"
              type="text"
              placeholder="Apellido"
              id="lastname"
              name="lastname"
            />
            <div
              *ngIf="
                formRegister.get('lastname')?.hasError('required') &&
                formRegister.get('lastname')?.touched
              "
              class="error-message"
            >
              El campo Apellido es <strong>requerido</strong>
            </div>
          </div>
          <div class="inputBox">
            <input
              formControlName="user"
              type="text"
              placeholder="Usuario"
              id="username"
              name="user"
            />
            <div
              *ngIf="
                formRegister.get('user')?.hasError('required') &&
                formRegister.get('user')?.touched
              "
              class="error-message"
            >
              El campo Usuario es <strong>requerido</strong>
            </div>
          </div>
          <div class="inputBox">
            <input
              formControlName="email"
              type="text"
              placeholder="Correo Electrónico"
              id="email"
              name="email"
            />
            <div
              *ngIf="
                formRegister.get('email')?.hasError('required') &&
                formRegister.get('email')?.touched
              "
              class="error-message"
            >
              El campo Correo Electrónico es <strong>requerido</strong>
            </div>
          </div>
          <div class="inputBox">
            <input
              formControlName="svpassword"
              type="password"
              placeholder="Contraseña"
              id="svpassword"
              name="svpassword"
            />
            <div
              *ngIf="
                formRegister.get('svpassword')?.hasError('required') &&
                formRegister.get('svpassword')?.touched
              "
              class="error-message"
            >
              El campo Contraseña es <strong>requerido</strong>
            </div>
          </div>

          <div class="inputBox">
            <input type="submit" value="Registrar" />
          </div>

          <span class="error-message" *ngIf="errorRegister"
            ><strong>{{ errorRegister }}</strong></span
          >
          <p class="forget">
            Ya tienes una cuenta ?
            <a (click)="navigateToLogin()">Inicia aquí</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
