<section>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="box">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="container">
      <div class="form">
        <h2>Iniciar Sesion</h2>
        <form id="loginForm" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <div class="inputBox">
            <input
              formControlName="email"
              type="text"
              placeholder="Correo Electrónico"
              id="email"
              name="email"
            />
            <div
              *ngIf="
                formLogin.get('email')?.hasError('required') &&
                formLogin.get('email')?.touched
              "
              class="error-message"
            >
              El campo Correo Electrónico es <strong>requerido</strong>
            </div>
          </div>
          <div class="inputBox">
            <input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
              id="password"
              name="password"
            />
            <div
              *ngIf="
                formLogin.get('password')?.hasError('required') &&
                formLogin.get('password')?.touched
              "
              class="error-message"
            >
              El campo Contraseña es <strong>requerido</strong>
            </div>
          </div>
          <div class="inputBox">
            <input type="submit" value="Ingresar" />
          </div>

          <span class="error-message" *ngIf="errorLogin"
            ><strong>{{ errorLogin }}</strong></span
          >
          <p class="forget">
            No tienes una cuenta ?
            <a (click)="navigateToRegister()">Registrate aquí</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
